@charset "UTF-8";
/* CSS Document */
body{
    text-align: center;
    font-family: 华文楷体;
    font-size: 16px;
    color: #495ace;
}
input.txt{                          /* 文本框 */
    color: #495ace;
    background-color: #f1eef0;
    border: 1px solid;
    padding-left: 15px;
}
input.btn{                          /* 按钮 */
    background-color: #d4fffd;
}
.check { /* 复选框 */
    font-size: 14px;
}
.p1 {
    font-size: 18px;
    color: #444eae;
    text-shadow: 0.1em 2px 6px blue;
}
.h1{
    vertical-align: middle;
    width:100px;
    height:70px;
}
.img1{
    width: 500px;
    height: 200px;
}
